@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url(./Img/Bitmap.png);
}

.error {
  color: red;
}

.errorborder {
  border-color: red;
}

body {
  font-family: 'Manrope', sans-serif;
}