@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url(./Img/Bitmap.png);
}

.circlebg {
  background-image: url(./Img/circle-bg.png);
}

.speakerbg {
  background-image: url(./Img/speaker-bg.png)
}

.error {
  color: red;
}

.errorborder {
  border-color: red;
}